<section class="sub-nav">
    <section class="sub-nav-left">
        <h3>Login</h3>
    </section>
</section>

<form action="/auth/login" method="POST">
    <p>EMAIL</p>
    <input id="authEmail" class="black" type="email" name="email">
    <p>PASSWORD</p>
    <input id="authPassword" class="black" type="password" name="password">
    <input class="btn" type="submit">
    <%- include('../partials/alerts') %>
</form>