<section class="sub-nav">
    <section class="sub-nav-left">
        <h2>Login</h2>
    </section>
</section>

<form action="/auth/login" method="POST">
    <div class="form-group">
        <p>EMAIL</p>
        <input id="authEmail" class="form-control" type="email" name="email">
    </div>
    <div class="form-group">
        <p>PASSWORD</p>
        <input id="authPassword" class="form-control" type="password" name="password">
    </div>
    <input class="btn" type="submit">
</form>