<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auth Boilerplate</title>
</head>
<body>
    <header>
        <nav>
            <% if (currentUser) { %>
                <a href="/auth/logout">Logout</a>
                <a href="/profile">Profile</a>
            <% } else { %>
                <a href="/auth/register">Register</a>
                <a href="/auth/login">Login</a>
            <% } %>
        </nav>
    </header>
    <div class="container">
        <h1>Authenticating Users</h1>
        <%- include('./partials/alerts.ejs') %>
        <%- body %>
    </div>
</body>
</html>