<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Anime Scheduler</title>
</head>
<body>
    <header>
        <nav>
            <section class="nav-top">
                <article class="nav-top-left">
                    <h1>Anime Scheduler</h1>
                </article>
                <section class="nav-top-center">
                    <a href="/">Discover Anime</a>
                    <% if (currentUser) { %>
                        <a href="/profile">My Schedule</a>
                    <% } %>
                </section>
                <article class="nav-top-left">
                    <% if (currentUser) { %>
                        <a href="/auth/logout">Logout</a>
                        <h4><%= currentUser.name %></h4>
                    <% } else { %>
                        <a href="/auth/register">Register</a>
                        <a href="/auth/login">Login</a>
                    <% } %>
                </article>
            </section>
        </nav>
    </header>
    <main>
        <%- body %>
    </main>
</body>
</html>