<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Condensed:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Ani Cal</title>
</head>
<body>
    <nav>
        <article class="nav-left">
            <h1><a href="/"><span class="black">ANI CAL</span> // GET YOUR SEASON TOGETHER</a></h1>
        </article>
        <article class="nav-right">
            <% if (currentUser) { %>
                <a href="/">DISCOVER</a>
                <a href="/profile">MY CAL</a>
                <a href="/users">FIND USERS</a>
                <a href="/auth/logout">LOGOUT</a>
            <% } else { %>
                <a href="/auth/register">REGISTER</a>
                <a href="/auth/login">LOGIN</a>
            <% } %>
        </article>
    </nav>
    <main>
        <%- body %>
    </main>
    <%- include('partials/footer') %>
</body>
</html>