body {
    font-family: 'Lato', sans-serif;
    width: 90vw;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}

.nav-top-left {
    font-size: 1.5em;
    width: 70%;
}

.nav-top-right {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.nav-top-right a {
    padding-left: 5vw;
}

.sub-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-row {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.list-row-entry {
    flex: 0 0 auto;
    margin: 0 2vw;
    width: 15%;
}

.list-row-entry img {
    width: 100%;
}

.profile-main-container {
    display: flex;
}

.profile-info-container {
    width: 15%;
}

.calendar-container {
    width: 85%;
    border: 2px solid black;
    display: flex;
}

.calendar-column {
    width: 14.25%
}

.calendar-column img {
    max-width: 100%;
}

.calendar-column-item {
    border: 1px solid black;
}