body {
    font-family: 'Lato', sans-serif;
    width: 90vw;
    margin: 0 auto;
}

select, input {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 1vh 0;
    border: 2px solid #fb4d3d;
    background-color: #ffffff;
    color: #fb4d3d;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: #fb4d3d;
}

.black {
    color: #000000;
}

.smaller {
    font-size: 0.8em;
    font-style: italic;
    padding-top: 0.5vh;
}

.no-margin {
    margin: 0;
}

.error {
    font-size: 0.9em;
    color: #fb4d3d;
    font-style: italic;
}

.nav-top {
    height: 8vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}

.nav-top-left {
    font-size: 1.5em;
    width: 55%;
}

.nav-top-right {
    width: 45%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.nav-top-right a {
    margin-left: 3vw;
    background-color: #fb4d3d;
    color: #ffffff;
    padding: 0.25em;
    border: 2px solid transparent;
    font-size: 1vw;
}

.nav-top-right a:hover {
    background-color: #ffffff;
    border: 2px solid #fb4d3d;
    color: #fb4d3d;
}

.sub-nav {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5vh;
    background-color: #fb4d3d;
    color: #ffffff;
}

.sub-nav p {
    margin: 0;
    font-size: 0.8em;
}

.sub-nav h3 {
    margin: 0;
}

.sub-nav a {
    color: #ffffff;
}

.sub-nav-left {
    margin-left: 1vw;
}

.sub-nav-right {
    margin-right: 1vw;
}

.list-row {
    height: 50vh;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 5vh;
}

.list-row-header {
    margin-bottom: 1vh;
    padding: 1vh;
    background-color: #fb4d3d;
    color: #ffffff;
}

.list-row-entry {
    flex: 0 0 auto;
    margin: 0 2vw;
    width: 15%;
    text-align: center;
    font-size: 0.9em;
}

.list-row-entry img {
    width: 100%;
}

.title-label {
    margin-top: 0;
    padding: 1vh 0;
    background-color: #fb4d3d;
    height: 100%;
    bottom: 4px;
    position: relative;
    font-family: 'Roboto Condensed', sans-serif;
}

.list-row-entry a {
    color: #ffffff;
    font-weight: 700;
}

.list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.list-entry {
    width: 20vw;
    margin-bottom: 5vh;
}

.list-title {
    margin-top: 0;
    padding: 1vh 0;
    background-color: #fb4d3d;
    bottom: 4px;
    position: relative;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
}

.list-entry img {
    width: 100%;
}

.list-entry h4 {
    background-color: #fb4d3d;
    margin: 0;
    height: 5vh;
}

.show-container {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    font-size: 0.9em;
}

.prompt-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-end;
}

.prompt-item {
    height: 75%;
    flex-basis: 25%;
    text-align: center;
    padding: 0 2vw;
    font-size: 0.9em;
    margin-bottom: 2vh;
}

.prompt-item p {
    font-style: italic;
}

.prompt-item h4 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    background-color: #fb4d3d;
    color: #ffffff;
    margin: 0 auto;
    width: 50%;
}

.prompt-image {
    height: 15vh;
}

.calendar-container {
    border: 2px solid black;
    border-radius: 1em;
    display: flex;
}

.calendar-column {
    width: 14.25%;
    border-right: 1px solid black;
}

.calendar-column:nth-child(7) {
    border-right: 1px solid transparent
}

.calendar-column h3 {
    text-align: center;
    background-color: #fb4d3d;
    color: #ffffff;
    padding: 1vh 0;
}

.calendar-column img {
    max-width: 100%;
}

.calendar-column-item {
    padding: 1vh;
}

.calendar-column-item p {
    margin: 0;
}

.character-container {
    display: flex;
    flex-wrap: wrap;
}

form p {
    margin: 0;
    font-size: 0.9em;
    padding-top: 1vh;
}

footer {
    background-color: #fb4d3d;
    color: #ffffff;
    height: 10vh;
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.user-container {
    display: flex;
}

.user-item {
    width: 20vw;
    text-align: center;
}

.user-name {
    margin: 0;
}

.user-name a {
    margin: 0;
    color: #ffffff;
    background-color: #fb4d3d;
    padding: 0 3vw;
}