<section class="sub-nav">
    <section class="sub-nav-left">
        <h3>Find Users</h3>
    </section>
    <section class="sub-nav-right">
    </section>
</section>

<section class="user-container">
    <% users.forEach(user => { %>
        <section class="user-item">
            <% if (user.imageurl) { %>
                <img src="<%= user.imageurl %>" alt="Profile picture.">
            <% } %>
            <p class="user-name"><a href="/users/<%= user.id %>"><%= user.name %></a></p>
            <p class="smaller no-margin">User Since: <%= user.createdAt.toString().slice(0, 10) %></p>
        </section>
    <% }) %>
</section>